# 所有服务运行时数据目录
**/data/*
!**/data/.gitignore
!**/data/.gitkeep

# Grafana 运行时
grafana/plugins/

# 环境变量（实际值）
.env

# vmauth 生成产物
vmauth/auth.yaml

# 脚本运行日志
logs/*
!logs/.gitignore
!logs/.gitkeep

# 操作系统
Thumbs.db
.DS_Store

# 编辑器
*.swp
*.swo
*~

# jetbrains
.idea
